export PYTHONPATH=$PYTHONPATH:backend/src

env="prod"

eval $(op signin)

if [[ "$env" == "prod" ]]; then

  export DATABASE_PASSWORD=$(op read "op://Employee/VISIONS App Secrets/Prod/database_password")
  export SUPABASE_SECRET_KEY=$(op read "op://Employee/VISIONS App Secrets/Prod/supabase_secret_key")
  export S3_SECRET_ACCESS_KEY=$(op read "op://Employee/VISIONS App Secrets/Prod/s3_secret_access_key")
  export GEMINI_API_KEY=$(op read "op://Employee/VISIONS App Secrets/Prod/gemini_api_key")

elif [[ "$env" == "preview" ]]; then
  export DEBUG=true

fi
